* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

main {
  background-color: #F5F5F5;
  height: 400px;
  max-width: 100%;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.title{
  font-size: 40px;
  margin: 0;
}

.instructions{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;
   
}

.die-face {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.die-num {
  font-size: 2rem;
}

.roll-dice{
  height: 50px;
  width: 100px;
  border: none;
  background-color: #3780ad;
  color: white;
  font-size: 1.2rem;
  border-radius: 6px;
  font-family: 'Karla', sans-serif;
  margin: 5px;
}

.roll-dice:focus{
  outline: none;
}

.roll-dice:active{
  box-shadow: inset 5px 5px 10px -3px rgba(15, 15, 15, 0.7);
}